/* reset */
* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  cursor: default;
}

/* fonts */

@font-face {
  font-family: sci;
  src: url(./ResearcherThin.otf);
}

/* variables */
:root {
  --main-grey: #8B8B8B
}

/* top_components */

#app {
  background-color: var(--main-grey);
}



/* loader_page */

#loader_page {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}

#loader_page_logo_div {
  height: 100%;
  width: 50%;
}

#loader_page_loader_div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader_loading {
  color: white;
  width: auto;
  height: auto;
  font-size: 2.5vw;
  font-family: sci;
  animation: loader_opacity 1s infinite linear;
  animation-delay: 2s;
  opacity: 0;
}

#loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-radius: 50%;
  border-color: white transparent;
  animation: rotate 2s infinite linear forwards;
  opacity: 0;
  animation-delay: 2s;
}

/* animations */

@keyframes rotate {
  0.1%{opacity: 1;}
  100% {rotate: 360deg; opacity: 1;}
}

@keyframes loader_opacity {
  50%{opacity: 1}
  100%{opacity: 0;}
}
