/* reset */
* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  cursor: default;
}

button {
  all: unset;
}

/* fonts */

@font-face {
  font-family: sci;
  src: url(./ResearcherThin.otf);
}

@font-face {
  font-family: iya;
  src: url(./IYANNU-Thin.otf);
}

@font-face {
  font-family: gruppo;
  src: url(./Gruppo-Regular.ttf);
}

/* variables */
:root {
  --main-grey: #8B8B8B;
}

:root {
  --div-black: #080808bf;
}

:root {
  --white-dim: #ffffffba;
}

/* top_components */

#app {
  background-color: var(--main-grey);
}



/* loader */

#loader_page {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}



#loader_page_loader_div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader_loading {
  color: white;
  width: auto;
  height: auto;
  font-size: 2.5vw;
  font-family: sci;
  animation: loader_opacity 1s infinite linear;
  animation-delay: 2s;
  opacity: 0;
}

#loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-radius: 50%;
  border-color: white transparent;
  animation: rotate 2s infinite linear forwards;
  opacity: 0;
  animation-delay: 2s;
}


/* loader_logo */

#loader_page_logo_div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}


#loader_logo {
  width: 100%;
  height: 50%;
  -webkit-mask-image: url(Group_svg.svg);
  mask-image: url(Group_svg.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: white;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 20%;
  width: 80%;
  animation: logo_appears 4s forwards;
  opacity: 0;
}

#loader_logo::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
  animation: glitch 2s linear infinite;
}



#loader_sci {
  color: white;
  height: auto;
  width: auto;
  font-family: sci;
  align-self: flex-start;
  margin-left: 20%;
  font-size: 2vw;
  animation: glitch 2s infinite linear;
}

#loader_tech {
  color: white;
  height: auto;
  width: auto;
  font-family: sci;
  align-self: flex-end;
  font-size: 2vw;
  margin-right: 10%;
}


#loader_page::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  background-color: rgba(128, 128, 128, 0.252);
  backdrop-filter: blur(5px);
  z-index: 2;
  transform: scale(0,1);
  transform-origin: left;
  animation: curtains 3s forwards;
  animation-delay: 5s;
}

#loader_page::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.252);
  backdrop-filter: blur(5px);
  right: 0%;
  top: 0%;
  z-index: 2;
  transform: scale(0, 1);
  animation: curtains 3s forwards;
  transform-origin: right;
  animation-delay: 5s;
  
}


/* main_page */

#main_page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--main-grey);
  z-index: 4;
  opacity: 0;
  animation: main_page 0.1s forwards;
  animation-delay: 8s;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-template-areas: 
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  '3 3 q q q q q q q q q q q q q q q q 4 4'
  
  ;
}

#lower_buttons {
  grid-area: q;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 2vw;
  font-family: sci;
  color: var(--white-dim);
}

#content {
  grid-area: w;
}

#landing_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing_text_div {
  margin-top: 5%;
  width: 80%;
  height: 20%;
  font-family: gruppo;
  font-size: 4vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--div-black);
}


#landing_text {
  text-align: center;
  height: fit-content;
  color: var(--white-dim);
}



/* science */

#sci_page {
  display: flex;
  flex-direction: column;
}

#sci_content_div {
  display: flex;
  flex-direction: row;
  height: 88%;
  margin-top: 2%;
}

#sci_proj_div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

#sci_info_div {
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.sci_proj {
  height: 15%;
  width: 80%;
  border: black 1px solid;
  transition: transform 1s ease-out;
}

.sci_proj:hover {
  transform: translate(10px, 5px);
}

#sci_buttons_top_div {
  height: 10%;
  display: flex;
  justify-content: flex-start;
}

#sci_buttons_top {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sci_buttons_lower_div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#sci_filter {
  width: 5%;
  height: 6px;
  border-radius: 20px;
  background-color: black;
  margin-left: 2%;
}

#sci_pages_div {
  width: 20%;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20%;
}

.pages {
  width: 25%;
  height: 6px;
  border-radius: 20px;
  background-color: black;
}






/* animations */

@keyframes rotate {
  0.1%{opacity: 1;}
  100% {rotate: 360deg; opacity: 1;}
}

@keyframes loader_opacity {
  50%{opacity: 1}
  100%{opacity: 0;}
}

@keyframes logo_appears {  
    100%{opacity: 1;}
}

@keyframes glitch {
  2%{opacity: 0;} 
  3%{opacity: 1;}
  6%{opacity: 0;}
  7%{opacity: 1;}
  25%{transform: translate(0);}
  26%{transform: translate(-150%);}
  27%{transform: translate(0);}
}

@keyframes curtains {
  80%{transform: scale(1, 1);}
  100%{transform: scale(1, 1); background-color: var(--main-grey);backdrop-filter: none;}
}

@keyframes main_page {
  100%{opacity: 1;}
}