/* reset */
* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  cursor: default;
}

/* variables */
:root {
  --main-grey: #8B8B8B
}

/* top_components */

#app {
  background-color: var(--main-grey);
}





