/* reset */
* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  cursor: default;

}

button {
  all: unset;
}

/* fonts */

@font-face {
  font-family: sci;
  src: url(./ResearcherThin.otf);
}

@font-face {
  font-family: iya;
  src: url(./IYANNU-Thin.otf);
}

@font-face {
  font-family: gruppo;
  src: url(./Gruppo-Regular.ttf);
}

/* variables */
:root {
  --main-grey: #8B8B8B;
}

:root {
  --div-black: #080808bf;
}

:root {
  --white-dim: #ffffffba;
}

:root {
  --grey-dim : #2f2f2fba;
}

:root {
  --green-neon: #0dcb0d;
}

:root {
  --grey-middle: #48474787;
}

:root {
  --white-grey: #e0dadac2;
}


/* animations */

@keyframes opacity {
  100%{opacity: 1;}
}

@keyframes rotate {
  0.1%{opacity: 1;}
  100% {rotate: 360deg; opacity: 1;}
}

@keyframes loader_opacity {
  50%{opacity: 1}
  100%{opacity: 0;}
}

@keyframes logo_appears {  
    100%{opacity: 1;}
}

@keyframes glitch {
  2%{opacity: 0;} 
  3%{opacity: 1;}
  6%{opacity: 0;}
  7%{opacity: 1;}
  25%{transform: translate(0);}
  26%{transform: translate(-150%);}
  27%{transform: translate(0);}
}

@keyframes curtains {
  80%{transform: scale(1, 1);}
  100%{transform: scale(1, 1); background-color: var(--main-grey);backdrop-filter: none;}
}

@keyframes main_page {
  100%{opacity: 1;}
}

@keyframes lower_buttons {
  100%{transform: translate(0);}
}

@keyframes slide_left {
  100%{top:0;left:0}
}

/* top_components */

#app {
  background-color: var(--main-grey);
}



/* loader */

#loader_page {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}



#loader_page_loader_div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader_loading {
  color: white;
  width: auto;
  height: auto;
  font-size: 2.5vw;
  font-family: sci;
  animation: loader_opacity 1s infinite linear;
  animation-delay: 2s;
  opacity: 0;
}

#loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-radius: 50%;
  border-color: white transparent;
  animation: rotate 2s infinite linear forwards;
  opacity: 0;
  animation-delay: 2s;
}


/* loader_logo */

#loader_page_logo_div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}


#loader_logo {
  width: 100%;
  height: 50%;
  -webkit-mask-image: url(Group_svg.svg);
  mask-image: url(Group_svg.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: white;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 20%;
  width: 80%;
  animation: logo_appears 4s forwards;
  opacity: 0;
}

#loader_logo::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
  animation: glitch 2s linear infinite;
}



#loader_sci {
  color: white;
  height: auto;
  width: auto;
  font-family: sci;
  align-self: flex-start;
  margin-left: 20%;
  font-size: 2vw;
  animation: glitch 2s infinite linear;
}

#loader_tech {
  color: white;
  height: auto;
  width: auto;
  font-family: sci;
  align-self: flex-end;
  font-size: 2vw;
  margin-right: 10%;
}


#loader_page::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  background-color: rgba(128, 128, 128, 0.252);
  backdrop-filter: blur(5px);
  z-index: 2;
  transform: scale(0,1);
  transform-origin: left;
  animation: curtains 3s forwards;
  animation-delay: 5s;
}

#loader_page::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.252);
  backdrop-filter: blur(5px);
  right: 0%;
  top: 0%;
  z-index: 2;
  transform: scale(0, 1);
  animation: curtains 3s forwards;
  transform-origin: right;
  animation-delay: 5s;
  
}


/* main_page */

#main_page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--main-grey);
  z-index: 4;
  opacity: 0;
  animation: main_page 0.1s forwards;
  animation-delay: 8s;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-template-areas: 
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  'w w w w w w w w w w w w w w w w w w w w'
  '3 3 q q q q q q q q q q q q q q q q 4 4'
  
  ;
}

#lower_buttons {
  grid-area: q;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 2vw;
  font-family: sci;
  color: var(--grey-dim);
}

.lower_button_div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.lower_buttons_but {
  transition: color 0.7s ease-out;
  transform: translate(0, -150%);
  animation: lower_buttons 1.5s forwards;
}

.lower_buttons_but:hover {
  color: black
}

#content {
  grid-area: w;
}

#landing_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing_text_div {
  margin-top: 5%;
  width: 80%;
  height: 20%;
  font-family: gruppo;
  font-size: 4vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--div-black);
}


#landing_text {
  text-align: center;
  height: fit-content;
  color: var(--white-dim);
}



/* science */

#sci_page {
  display: flex;
  flex-direction: column;
}

#sci_content_div {
  display: flex;
  flex-direction: row;
  height: 88%;
  margin-top: 2%;
}

#sci_proj_div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

#sci_info_div {
  width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5%;
}

.sci_proj {
  height: 15%;
  width: 80%;
  transition: transform 1s ease-out, height 1s ease-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-dim);
}

.sci_proj_upper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: height 1s ease-out;
}

.sci_name_div {
  width: 60%;
}

.sci_id {
  width: 20%;
}

.sci_id_div {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci_id_p {
  font-family: gruppo;
  font-size: 1.5vw;
  height: fit-content;
  width: fit-content;
  color: var(--main-grey);
}

.sci_hash {
  width: 20%;
}

.sci_hash_div {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci_hash_p {
  font-family: gruppo;
  font-size: 1.5vw;
  height: fit-content;
  width: fit-content;
  color: var(--main-grey);
}

.sci_proj_lower {
  display: none;
  height: 50%;
  flex-direction: column;
  opacity: 0;
  animation: opacity 1s forwards;
}

.sci_name_div {
  display: flex;
  flex-direction: column;
}

.sci_name_name {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci_lab {
  height: 20%;
}

.sci_name_p {
  font-family: gruppo;
  font-size: 2.2vw;
  height: fit-content;
  margin-left: 5%;
  color: var(--green-neon);
}

.sci_lab_p {
  font-family: gruppo;
  font-size: 1.5vw;
  height: fit-content;
  margin-left: 7% ;
  color: var(--main-grey);
}

.sci_proj:hover {
  transform: translate(0, 5px);
}

#sci_buttons_top_div {
  height: 10%;
  display: flex;
  justify-content: flex-start;
}

#sci_buttons_top {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sci_buttons_lower_div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#sci_filter {
  width: 5%;
  height: 6px;
  border-radius: 20px;
  background-color: black;
  margin-left: 2%;
}

#sci_pages_div {
  width: 20%;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20%;
}

.pages {
  width: 25%;
  height: 6px;
  border-radius: 20px;
  background-color: black;
}

/* science main details */

#sci_info_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3%;
}

#science_capital {
  width: 85%;
  height: 35%;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-middle);
}

#capital_name_div {
  height: 30%;
  font-family: gruppo;
  font-size: 3vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#capital_name {
  width: fit-content;
  margin-left: 5%;
  height: fit-content;
  font-weight: bold;
}

#capital_requested {
  height: 20%;
  display: flex;
  flex-direction: row;
}

#sci_cap_text {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#sci_cap_money {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#sci_cap_p {
  width: fit-content;
  height: fit-content;
  font-family: gruppo;
  font-size: 2.5vw;
  margin-right: 10%;
}

#sci_money {
  width: fit-content;
  height: fit-content;
  font-family: gruppo;
  font-size: 2.5vw;
  font-weight: bold;
  margin-left: 20%;
}



#capital_fulfillment {
  height: 30%;
  display: flex;
  flex-direction: row;
}

#cap_ful_div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cap_ful_money {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#cap_ful_p {
  width: fit-content;
  height: fit-content;
  font-family: gruppo;
  font-size: 2.5vw;
  margin-right: 10%;
}

#sci_cap_perc {
  width: fit-content;
  height: fit-content;
  font-family: gruppo;
  font-size: 4vw;
  font-weight: bold;
  margin-left: 20%;
}


#capital_support {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}

#sci_sup_bt {
  width: fit-content;
  height: fit-content;
  font-family: gruppo;
  font-size: 2.5vw;
  transition: transform 1s ease-out;
  color: var(--white-grey);
  margin-right: 5%;
}



/* sci lower div */

.sci_proj_purpose {
  height: 33%;
}

.sci_proj_progress_perc_div {
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.sci_progress_proc {
  width: fit-content;
  margin-right: 5%;
  font-family: sci;
  font-size: 1vw;
  color: var(--green-neon);
}

.progress_bar {
  height: 47%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sci_proj_purp {
  font-size: 1.5vw;
  font-family: gruppo;
  margin-left: 3%;
  color: var(--white-dim);
}

.progress_outer {
  width: 90%;
  height: 20%;
  background-color: black;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.progress_inner {
  content: '';
  position: absolute;
  width: 0;
  height: 110%;
  border-radius: 20px;
  background-color: var(--green-neon);
  transition: width 2s ease-out;
  transform-origin: left;
}

/* sci filter */

#sci_filter_pop {
  position: fixed;
  width: 40%;
  height: 30%;
  background-color: rgba(164, 162, 162, 0.649);
  backdrop-filter: blur(5px);
  z-index: 3;
  top: 10%;
  
}

#sci_filter_pop {
  display: flex;
  flex-direction: row;
  font-family: gruppo;
}

#filter_close {
  position: absolute;
  height: 6px;
  width: 5%;
  background-color: black;
  border-radius: 20px;
  right: 5%;
  top: 5%;
  z-index: 4;
}

#filter_lower {
  display: flex;
  flex-direction: row;
}

#filter_lower_values {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#attribute {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2.5vw;
}

#value {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.5vw;
}

#filter_go {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sci;
  font-size: 4vw;
  font-weight: bold;
}

#filter_go_button {
  transition: font-size 1s ease-out;
}

#filter_go_button:hover {
  font-size: 5vw;
}

#new {
  width: 10%;
  height: 10%;
  background-color: black;
}

#value_pop {
  width: 80%;
  height: 200%;
  background-color: rgba(81, 80, 80, 0.911);
  backdrop-filter: blur(25px);
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  border-radius: 20px;
}

#value_li_div {
  all:unset;
  width: 80%;
  height: 80%;
  font-family: gruppo;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.value_li {
  height: fit-content;
  width: fit-content;
}

#category_pop {
  width: 80%;
  height: 200%;
  background-color: rgba(81, 80, 80, 0.911);
  backdrop-filter: blur(25px);
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  border-radius: 20px;
}

#category_li_div {
  all:unset;
  width: 80%;
  height: 80%;
  font-family: gruppo;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.category_li {
  height: fit-content;
  width: fit-content;
}

/* sci pop */

#sci_support_pop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sci_sup_pop_div {
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.584);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#sci_sup_close_div {
  flex-wrap: wrap;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

#sci_sup_close {
  margin-right: 3%;
  height: 6px;
  width: 3%;
  background-color: black;
  border-radius: 20px;

}

#sci_sup_bt:hover {
  transform: translate(-10%);
}

/* sci details */

#science_details {
  width: 85%;
  height: 35%;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-middle);
}

#sci_det_upper {
  height: 30%;
  display: flex;
  flex-direction: row;
}

#sci_pd_text {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sci_pd_p {
  width: fit-content;
  height: fit-content;
  font-size: 3vw;
  font-family: gruppo;
  font-weight: bold;
}

#sci_pd_next_div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

#sci_pd_next {
  margin-right: 20%;
  width: fit-content;
  height: fit-content;
  font-size: 5vw;
  font-family: gruppo;
  font-weight: bold;
  transition: transform 1s ease-out;
}

#sci_pd_next:hover {
  transform: translate(-20%);
}


#sci_det_img {
  height: 70%;
  background-image: url('./dna-genetics-science-biology-1.webp');
  background-size:cover;
}


/* sci details page */

#sci_details {
  position: fixed;
  z-index: 10;
  background-color: var(--grey-dim);
  left: 100%;
  top: 0;
  color: white;
  transition: left 2s ease-in-out, backdrop-filter 1s ease-out;
}

#sci_det_close_div {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#sci_det_close:hover {
  transform: translate(25%);
}

#sci_det_close {
  font-family: gruppo;
  font-size: 5vw;
  margin-left: 3%;
  transition: transform 1s ease-out;
  width: fit-content;
}

#sci_details_content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s ease-out;
}

#sci_det_lower_div {
  height: 90%;
  display: flex;
  flex-direction: row;
}


#sci_det_lower_left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

#sci_det_project {
  height: 30%;
  background-color: var(--grey-dim);
  width: 80%;
}

#sci_det_validation_div {
  height: 60%;
  background-color: var(--main-grey);
  width: 80%;
}

#sci_det_lower_right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5%;
}

#sci_det_capital_div {
  height: 30%;
  background-color: var(--main-grey);
  width: 85%;
}

#sci_det_team_div {
  height: 30%;
  background-color: var(--main-grey);
  width: 85%;
}

#sci_det_updates_div {
  height: 25%;
  background-color: var(--main-grey);
  width: 85%;
}

